<template>
  <div class="fixed-center">
    <q-card class="account bg-blue-grey-10 text-white">
      <q-tabs v-model="tab">
        <q-tab label="登录" name="signin"/>
        <q-tab label="注册" name="signup" />
      </q-tabs>
      <q-tab-panels
        v-model="tab"
        animated
        style="min-height:220px"
        class="bg-blue-grey-9"
      >
        <q-tab-panel name="signin" class="text-center">
          <q-input v-model="auth.id" label="QQ" color="orange" dark />
          <q-input
            v-model="auth.key"
            label="密码"
            type="password"
            color="orange"
            dark
          />
          <q-btn
            class="q-my-md"
            color="primary"
            label="登录"
            v-on:click="login(auth)"
          />
        </q-tab-panel>
        <q-tab-panel name="signup">
          请使用QQ注册
        </q-tab-panel>
      </q-tab-panels>
    </q-card>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import { AuthReq } from 'shared/sp-proto';

export default {
  name: 'PageAccount',
  data() {
    return {
      tab: 'signin',
      auth: {
        action: AuthReq.Action.Login,
        id: '',
        key: '',
      },
    };
  },
  methods: {
    ...mapActions('global', [
      'login',
    ]),
  },
};
</script>

<style scoped>
.account {
  min-width: 256px;
  margin: auto;
}
</style>
