<template>
  <q-page>
    <q-list bordered separator>
      <q-item
        clickable
        v-for="(fleet, i) in fleets"
        :key="i"
        :to="`/fleets/${i}`"
      >
        <q-item-section>{{ `[${fleet[0]}] ${ships[fleet[1]].name}` }}</q-item-section>
      </q-item>
    </q-list>
  </q-page>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import { ships } from 'shared/sp-shared';

export default {
  name: 'FleetList',
  beforeMount() {
    if (!this.fleetsFetched) this.fetch();
  },
  data() {
    return {
      ships,
    };
  },
  computed: {
    ...mapState({
      fleets: state => state.global.fleets,
      fleetsFetched: state => state.global.fleetsFetched,
    }),
  },
  methods: {
    fetch() {
      this.sendObj({
        type: 'fleet',
        do: 'list',
      });
    },
    ...mapActions('global', [
      'sendObj',
    ]),
  },
};
</script>
