<template>
  <q-page>
    <div>旗舰: {{ ships[fleet.flagship].name }}</div>
    <div>所在星球: {{ fleet.planet }}</div>
    <div>旗舰装甲: {{ `${fleet.health}/${ships[fleet.flagship].health}` }}</div>
    <br />
    <div>组件: {{ `${fleet.mods.length}/${ships[fleet.flagship].maxMods}` }}</div>
    <div v-for="(mod, i) in fleet.mods" :key="i">
      {{ mod.id }} lv.{{ mod.level }}
    </div>
    <br />
    <div>机库: {{ `${aircraftCount}/${ships[fleet.flagship].storage}` }}</div>
    <div v-for="(aircraft, i) in fleet.aircrafts" :key="i">
      {{ aircraft.amount }}个 {{ aircrafts[aircraft.id].name }}
    </div>
  </q-page>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import { ships, aircrafts } from 'shared/sp-shared';

export default {
  name: 'FleetView',
  beforeMount() {
    if (this.fleets[Number(this.$route.params.id)].length === 2) this.fetch();
  },
  data() {
    return {
      ships,
      aircrafts,
    };
  },
  computed: {
    fleet() {
      const arr = this.fleets[Number(this.$route.params.id)];
      const fleet = {
        planet: arr[0],
        flagship: arr[1],
        health: 0,
        mods: [],
        aircrafts: [],
      };
      if (this.fleets[Number(this.$route.params.id)].length === 2) {
        return fleet;
      }
      fleet.mods = arr[3].map(x => ({ id: x[0], level: x[1] }));
      fleet.aircrafts = arr[4].map(x => ({ id: x[0], amount: x[1] }));
      return fleet;
    },
    aircraftCount() {
      let count = 0;
      for (let i = 0; i < this.fleet.aircrafts.length; i += 1) {
        const aircraft = this.fleet.aircrafts[i];
        count += aircrafts[aircraft.id].size * aircraft.amount;
      }
      return count;
    },
    ...mapState({
      fleets: state => state.global.fleets,
    }),
  },
  methods: {
    fetch() {
      this.sendObj({
        type: 'fleet',
        do: 'detail',
        arr: [Number(this.$route.params.id)],
      });
    },
    ...mapActions('global', [
      'sendObj',
    ]),
  },
};
</script>
