<template>
  <q-page class="flex flex-center">
    <router-link to="/planets">星球列表</router-link>
  </q-page>
</template>

<style>
</style>

<script>
export default {
  name: 'PageIndex',
};
</script>
