<template>
  <q-page>
    购买
    <planet-image/>
    <br />
    <q-btn-toggle
      v-model="type"
      toggle-color="primary"
      color="white"
      text-color="primary"
      :options="typeOptions"
    />
    <br />
    <q-btn-toggle
      v-model="size"
      toggle-color="primary"
      color="white"
      text-color="primary"
      :options="sizeOptions"
    />
    <br />
    价格：{{ price }}
    <br />
    人口加成：{{ buffs.pop }}
    <br />
    金属加成：{{ buffs.met }}
    <br />
    水晶加成：{{ buffs.cry }}
    <br />
    槽位上限：{{ limits.slot }}
    <br />
    人口上限：{{ limits.pop }}
    <br />
    航天港上限：{{ limits.port }}
    <br />
    <q-btn
      class="q-my-md"
      color="primary"
      label="购买"
      :disable="disabledBtn"
      v-on:click="buy"
    />
  </q-page>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import { planets } from 'shared/sp-shared';
import PlanetImage from '../components/PlanetImage.vue';

export default {
  name: 'PlanetBuy',
  components: {
    PlanetImage,
  },
  data() {
    return {
      type: 0,
      size: 0,
      typeOptions: [
        { label: '荒漠', value: 0 },
        { label: '海洋', value: 1 },
        { label: '类地', value: 2 },
        { label: '冰原', value: 3 },
        { label: '火焰', value: 4 },
      ],
      sizeOptions: [
        { label: '极小', value: 0 },
        { label: '小', value: 1 },
        { label: '中', value: 2 },
        { label: '大', value: 3 },
      ],
    };
  },
  computed: {
    disabledBtn() {
      if (this.planets.length >= 2 || this.credits < this.price) return true;
      return false;
    },
    price() {
      return Math.round(planets.types[this.type].price * planets.sizes[this.size].price);
    },
    buffs() {
      return {
        pop: `${Math.round(planets.types[this.type].popBuff * planets.sizes[this.size].buff * 100)}%`,
        met: `${Math.round(planets.types[this.type].metBuff * planets.sizes[this.size].buff * 100)}%`,
        cry: `${Math.round(planets.types[this.type].cryBuff * planets.sizes[this.size].buff * 100)}%`,
      };
    },
    limits() {
      return {
        slot: planets.sizes[this.size].maxSlots,
        pop: planets.sizes[this.size].maxPop,
        port: planets.sizes[this.size].maxSpaceport,
      };
    },
    ...mapState({
      credits: state => state.global.player.credits,
      planets: state => state.global.planets,
    }),
  },
  methods: {
    buy() {
      this.setCredits(this.credits - this.price);
      this.sendObj({
        type: 'planet',
        do: 'buy',
        arr: [this.type, this.size],
      });
    },
    ...mapActions('global', [
      'sendObj',
      'setCredits',
    ]),
  },
};
</script>
