<template>
  <q-page class="q-pa-sm q-gutter-sm">
    <q-card>
      <q-card-section>
        <div class="flex items-center">
          <planet-image />
          <span class="q-mx-sm">{{ planet.name }}</span>
          <q-btn color="primary" label="改名" @click="renamePrompt = true" />
        </div>
        <div>金属： {{ planet.metal }}</div>
        <div>水晶： {{ planet.crystal }}</div>
        <div>人口： {{ planet.pop }}</div>
      </q-card-section>
    </q-card>

    <q-card>
      <q-list separator>
        <planet-struct
          v-for="(struct, index) in planet.structs"
          :key="index"
          :index="index"
          :struct="struct"
          :planet="planet"
          :showDowngrade="downgrade"
        />
        <q-item clickable @click="buildPrompt = true">
          <q-item-section>建设</q-item-section>
        </q-item>
      </q-list>
    </q-card>

    <q-dialog v-model="renamePrompt">
      <q-card style="min-width: 400px">
        <q-card-section>
          <div class="text-h6">新名字</div>
        </q-card-section>

        <q-card-section>
          <q-input
            dense
            v-model="newName"
            autofocus
            @keyup.enter="prompt = false"
            :rules="[
              val => !!val || '不能为空',
              val => val.length <= 16 || '长度必须小于16字节'
            ]"
          />
        </q-card-section>

        <q-card-actions align="right" class="text-primary">
          <q-btn flat label="取消" v-close-popup />
          <q-btn
            flat
            label="重命名"
            @click="rename"
            :disable="invalidName"
            v-close-popup
          />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-dialog v-model="buildPrompt">
      <q-card>
        <q-list bordered separator>
          <q-item
            clickable
            v-for="(n, i) in structsData.length"
            :key="i"
            :disable="invalidBuild(i, 0)"
            @click="
              confirmPrompt = true;
              buildOption = i;
            "
          >
            <q-item-section>
              <q-item-label overline>{{ structsData[i].label }}</q-item-label>
              <q-item-label>{{ structsData[i].desc }}</q-item-label>
              <q-item-label>{{ structCost(i, 1) }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </q-card>
    </q-dialog>

    <q-dialog v-model="confirmPrompt">
      <q-card>
        <q-card-section>
          确定建造{{ structsData[buildOption].label }}吗？
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="取消" color="primary" v-close-popup />
          <q-btn
            flat
            label="建造"
            color="primary"
            @click="build"
            v-close-popup
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import { RequestMsg, PlanetReq } from 'shared/sp-proto';
import { structs } from 'shared/sp-data';
import { resLimits } from 'shared/sp-shared';
import PlanetImage from '../components/PlanetImage.vue';
import PlanetStruct from '../components/PlanetStruct.vue';
import { structCost } from '../data/helpers';

export default {
  name: 'PlanetView',
  components: {
    PlanetImage,
    PlanetStruct,
  },
  beforeMount() {
    if (this.planets[this.planetIndex].metal === 0) this.fetch();
  },
  data() {
    return {
      structsData: structs,
      planetIndex: Number(this.$route.params.id),
      downgrade: false,
      buildOption: 0,
      confirmPrompt: false,
      renamePrompt: false,
      buildPrompt: false,
      newName: 'My planet',
    };
  },
  computed: {
    invalidName() {
      return !this.newName || this.newName.length > 16 || this.newName === this.planet.name;
    },
    resLimits() {
      return resLimits(this.planet);
    },
    planet() {
      return this.$store.getters['global/getPlanet'](Number(this.$route.params.id));
    },
    ...mapState({
      planets: state => state.global.player.planets,
    }),
  },
  methods: {
    structCost,
    invalidBuild(id, level) {
      const { pop, metal, crystal } = structs[id].cost(level + 1);
      return (
        this.planet.pop < pop
        || this.planet.metal < metal
        || this.planet.crystal < crystal
      );
    },
    build() {
      this.sendReq({
        id: RequestMsg.Id.PlanetReq,
        obj: {
          op: PlanetReq.Op.Upgrade,
          planetIndex: this.planetIndex,
          structIndex: this.planet.structs.length,
          structId: this.buildOption,
        },
      });
    },
    rename() {
      this.sendReq({
        id: RequestMsg.Id.PlanetReq,
        obj: {
          op: PlanetReq.Op.Rename,
          planetIndex: this.planetIndex,
          name: this.newName,
        },
      });
    },
    fetch() {
      this.sendReq({
        id: RequestMsg.Id.PlanetReq,
        obj: {
          op: PlanetReq.Op.Detail,
          planetIndex: this.planetIndex,
        },
      });
    },
    ...mapActions('global', [
      'sendReq',
    ]),
  },
};
</script>
