<template>
  <q-page>
    <q-list bordered separator>
      <q-item
        clickable
        v-for="(planet, i) in planets"
        :key="i"
        :to="`/planets/${i}`"
      >
        <q-item-section avatar>
          <planet-image />
        </q-item-section>
        <q-item-section>{{ planet.name }}</q-item-section>
      </q-item>
      <q-item clickable to="/planets/buy">
        <q-item-section avatar>
          <planet-image />
        </q-item-section>
        <q-item-section>购买</q-item-section>
      </q-item>
    </q-list>
  </q-page>
</template>

<script>
import { mapState } from 'vuex';
import PlanetImage from '../components/PlanetImage.vue';

export default {
  name: 'PlanetList',
  components: {
    PlanetImage,
  },
  computed: {
    ...mapState({
      planets: state => state.global.player.planets,
    }),
  },
};
</script>
