<template>
  <q-page>
    <q-expansion-item expand-separator icon="vpn_key" label="修改密码">
      <q-card>
        <q-card-section>
          <q-input v-model="auth.oldKey" label="旧密码" type="password" />
          <q-input
            v-model="auth.key"
            label="新密码"
            type="password"
            :rules="[
              val => !!val || '不能为空',
              val => val.length >= 8 || '长度最小为8',
              val => val.match('\\d') || '有数字',
              val => val.match('[a-zA-Z]') || '有字母'
            ]"
          />
          <q-input
            v-model="newPwConfirm"
            label="再来一次"
            type="password"
            :rules="[val => val === auth.key || '不一致']"
          />
          <q-btn
            class="q-my-md"
            color="primary"
            label="修改"
            @click="changePw"
            :disable="!validPw"
          />
        </q-card-section>
      </q-card>
    </q-expansion-item>
  </q-page>
</template>

<script>
import { mapActions } from 'vuex';
import { AuthReq, RequestMsg } from 'shared/sp-proto';

export default {
  name: 'PlayerProfile',
  data() {
    return {
      newPwConfirm: '',
      auth: {
        action: AuthReq.Action.ChangeKey,
        key: '',
        oldKey: '',
      },
    };
  },
  computed: {
    validPw() {
      return !!this.newPwConfirm
        && this.newPwConfirm.length >= 8
        && this.newPwConfirm.match('\\d')
        && this.newPwConfirm.match('[a-zA-Z]')
        && this.newPwConfirm === this.auth.key;
    },
  },
  methods: {
    changePw() {
      this.sendReq({ id: RequestMsg.Id.AuthReq, obj: this.auth });
    },
    ...mapActions('global', [
      'sendReq',
    ]),
  },
};
</script>
