<template>
  <q-page>
    <q-tabs v-model="tab">
      <q-tab label="旗舰" name="ship" />
      <q-tab label="机体" name="aircraft" />
      <q-tab label="建筑" name="struct" />
    </q-tabs>
    <q-tab-panels v-model="tab">
      <q-tab-panel name="ship" class="flex">
        <div
          v-for="(ship, i) in ships"
          :key="i"
          style="width: 130px; margin: 0 10px"
        >
          <div>名称: {{ ship.name }}</div>
          <div>吨位: {{ classes[ship.class] }}</div>
          <div>制造商: {{ makers[ship.maker] }}</div>
          <div>组件: {{ ship.maxMods }}</div>
          <div>机仓: {{ ship.storage }}</div>
          <div>速度: {{ ship.speed }}</div>
          <div>装甲: {{ ship.health }}</div>
          <div>攻击加成: {{ ship.buffs.atk }}</div>
          <div>防御加成: {{ ship.buffs.def }}</div>
          {{ ship.desc }}
        </div>
      </q-tab-panel>
      <q-tab-panel name="aircraft" class="flex">
        <div v-for="(aircraft, i) in aircrafts" :key="i" style="width: 90px">
          <div>名称: {{ aircraft.name }}</div>
          <div>大小: {{ aircraft.size }}</div>
          <div>装甲: {{ aircraft.health }}</div>
          <div>攻击: {{ aircraft.atk }}</div>
          <div>仓库: {{ aircraft.cargo }}</div>
        </div>
      </q-tab-panel>
      <q-tab-panel name="struct">
        等级: {{ level }}
        <div style="max-width: 500px">
          <q-slider v-model="level" :min="1" :max="10" color="green" />
        </div>

        <div>
          <div>金属矿场/水晶矿场</div>
          <div>每小时收益: {{ structs[structs.metal].income(level) }}</div>
          <div>
            时长: {{ structs[structs.metal].duration(level) / 3600000 }}
          </div>
          <div>耗电: {{ structs[structs.metal].power(level) }}</div>
          <br />
          <div>
            发电场发电: {{ structs[structs.generator].powerOut(level) }}
          </div>
          <br />
          <div>避难所</div>
          <div>
            生育时间:
            {{ structs[structs.shelter].cooldown(level) / 3600000 }}
          </div>
          <div>
            时间上限: {{ structs[structs.shelter].duration(level) / 3600000 }}
          </div>
          <div>耗电: {{ structs[structs.shelter].power(level) }}</div>
        </div>
      </q-tab-panel>
    </q-tab-panels>
  </q-page>
</template>

<script>
import { ships, aircrafts, structs } from 'shared/sp-shared';

export default {
  name: 'PageWiki',
  data() {
    return {
      tab: 'ship',
      level: 1,
      classes: ['护卫'],
      makers: [
        '未知',
        '旧地球联合',
        '新联邦',
        '落革诺帝国',
      ],
      ships,
      aircrafts,
      structs,
    };
  },
};
</script>
