<template>
  <q-item>
    <q-item-section>
      <q-item-label overline>{{ label }} lv.{{ struct.level }}</q-item-label>
      <q-item-label>{{ thread }}</q-item-label>
    </q-item-section>
    <q-item-section side>
      <div class="q-gutter-sm">
        <q-btn
          v-if="!invalidCheck"
          dense
          round
          color="primary"
          icon="check"
          @click="check"
        />
        <q-btn
          dense
          round
          color="primary"
          icon="more_vert"
          @click="showDetail = true"
        />
      </div>
    </q-item-section>
    <q-dialog v-model="showDetail">
      <planet-struct-detail :struct="struct" :planet="planet" :index="index" />
    </q-dialog>
  </q-item>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import { RequestMsg, PlanetReq } from 'shared/sp-proto';
import { structs, PlanetThread } from 'shared/sp-data';
import { toFormattedTime } from '../data/helpers';
import PlanetStructDetail from './PlanetStructDetail.vue';

export default {
  name: 'PlanetStruct',
  props: {
    index: Number,
    struct: Object,
    planet: Object,
  },
  components: {
    PlanetStructDetail,
  },
  data() {
    return {
      label: structs[this.struct.id].label,
      threadLabel: ['空闲', '升级', '降级', '生产'],
      isRes: this.struct.id === structs.metal.id
        || this.struct.id === structs.crystal.id
        || this.struct.id === structs.pop.id,
      showDetail: false,
    };
  },
  computed: {
    renovating() {
      return this.struct.thread.id === PlanetThread.Upgrade
        || this.struct.thread.id === PlanetThread.Downgrade;
    },
    timeLeft() {
      console.log(PlanetThread);
      let duration;
      switch (this.struct.thread.id) {
        case PlanetThread.Upgrade:
          duration = structs[this.struct.id].cost(this.struct.level + 1).ms;
          break;
        case PlanetThread.Downgrade:
          duration = structs[this.struct.id].cost(this.struct.level).ms;
          break;
        case PlanetThread.Produce:
          duration = structs[this.struct.id].duration(this.struct.level);
          break;
        default:
          return NaN;
      }
      const finishTime = this.struct.thread.time + duration;
      if (finishTime <= this.time) return 0;
      return finishTime - this.time;
    },
    storage() {
      if (!this.isRes || !this.struct.thread || this.renovating) return 0;

      const duration = structs[this.struct.id].duration(this.struct.level);
      const incomePerH = structs[this.struct.id].incomePerH(
        this.struct.level,
        this.planet.buffs[this.struct.id],
      );

      if (this.struct.thread.time + duration <= this.time) {
        return Math.round(incomePerH * (duration / 3600000));
      }

      const hours = (this.time - this.struct.thread.time) / 3600000;
      return Math.floor(incomePerH * hours);
    },
    thread() {
      if (!this.struct.thread) return '';
      const timeLeft = this.timeLeft === 0 ? '以完成' : `剩余${toFormattedTime(this.timeLeft)}`;
      const storage = this.isRes ? `(已储存: ${this.storage})` : '';
      return `${this.threadLabel[this.struct.thread.id]} ${timeLeft} ${storage}`;
    },
    invalidCheck() {
      if (this.storage > 0) return false;
      return this.timeLeft !== 0;
    },
    ...mapState({ time: state => state.time.now }),
  },
  methods: {
    check() {
      this.sendReq({
        id: RequestMsg.Id.PlanetReq,
        obj: {
          op: PlanetReq.Op.Check,
          planetIndex: this.planet.index,
          structIndex: this.index,
        },
      });
    },
    ...mapActions('global', [
      'sendReq',
    ]),
  },
};
</script>
