<template>
  <svg height="32" width="32" :style="style">
    <circle cx="16" cy="16" r="10" stroke-width="3px"></circle>
  </svg>
</template>

<script>
import { adjustColor } from '../data/helpers';

export default {
  name: 'PlanetImage',
  props: {
    color: {
      type: String,
      default: '#666666',
    },
    size: {
      type: Number,
      default: 32,
    },
  },
  computed: {
    style() {
      return {
        fill: this.color,
        stroke: adjustColor(this.color, 75),
      };
    },
  },
};
</script>
