<template>
  <q-card class="bg-blue-grey-9 text-white">
    <q-bar>
      <div>{{ label }}</div>
      <q-space />
      <q-btn dense flat icon="close" v-close-popup />
    </q-bar>

    <q-card-section>
      <div>{{ desc }}</div>
      <div>{{ structCost }}</div>
    </q-card-section>

    <q-card-section>
      <div v-for="(p, i) in properties" :key="i">{{ p }}</div>
    </q-card-section>

    <q-card-actions align="between">
      <q-btn
        color="primary"
        icon="arrow_upward"
        @click="upgrade"
        :disable="renovating || invalidBuild"
      />
      <q-btn
        color="red"
        icon="arrow_downward"
        @click="downgrade"
        :disable="renovating"
      />
    </q-card-actions>
  </q-card>
</template>

<script>
import { mapActions } from 'vuex';
import { RequestMsg, PlanetReq } from 'shared/sp-proto';
import { structs } from 'shared/sp-data';
import { toFormattedTime as tft } from '../data/helpers';


export default {
  name: 'PlanetStructDetail',
  props: {
    index: Number,
    struct: Object,
    planet: Object,
  },
  data() {
    return {
      label: `${structs[this.struct.id].label} lv.${this.struct.level}`,
      desc: structs[this.struct.id].desc,
      threadLabel: ['升级', '降级', '生产'],
      isRes: this.struct.id === structs.metal.id
        || this.struct.id === structs.crystal.id
        || this.struct.id === structs.pop.id,
    };
  },
  computed: {
    properties() {
      const arr = [];
      const s = structs[this.struct.id];
      const lv = this.struct.level;
      const buff = this.planet.buffs[this.struct.id];
      if (s.duration) arr.push(`时长: ${tft(s.duration(lv))}`);
      if (s.incomePerH) arr.push(`收益: ${s.incomePerH(lv, buff)}/小时`);
      if (s.limitBuff) arr.push(`上限: ${s.limitBuff(lv)}`);
      return arr;
    },
    renovating() {
      return this.struct.thread
        ? this.struct.thread.id === 0 || this.struct.thread.id === 1
        : false;
    },
    invalidBuild() {
      const { pop, metal, crystal } = this.planet;
      const {
        pop: popC,
        metal: metalC,
        crystal: crystalC,
      } = structs[this.struct.id].cost(this.struct.level + 1);

      return (
        pop < popC
        || metal < metalC
        || crystal < crystalC
      );
    },
    structCost() {
      const {
        pop,
        metal,
        crystal,
        ms,
      } = structs[this.struct.id].cost(this.struct.level + 1);
      return `升级所需 人口: ${pop}, 金属: ${metal}, 水晶: ${crystal}, 耗时: ${tft(ms)}`;
    },
  },
  methods: {
    upgrade() {
      this.sendReq({
        id: RequestMsg.Id.PlanetReq,
        obj: {
          op: PlanetReq.Op.Upgrade,
          planetIndex: this.planet.index,
          structIndex: this.index,
        },
      });
    },
    downgrade() {
      this.sendReq({
        id: RequestMsg.Id.PlanetReq,
        obj: {
          op: PlanetReq.Op.Downgrade,
          planetIndex: this.planet.index,
          structIndex: this.index,
        },
      });
    },
    ...mapActions('global', [
      'sendReq',
    ]),
  },
};
</script>
