<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated class="bg-blue-grey-10">
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
        >
          <q-icon name="menu" />
        </q-btn>

        <q-toolbar-title>
          苟艾路网页界面测试
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-drawer v-model="leftDrawerOpen" content-class="bg-blue-grey-9 text-white">
      <p>昵称：{{ player.name }}</p>
      <p>信用：{{ player.credit }}</p>
      <p>枕头：{{ player.pillow }}</p>
      <q-list>
        <!-- <q-item-label header>Essential Links</q-item-label> -->
        <!-- <q-item clickable to="/">
          <q-item-section avatar>
            <q-icon name="home" />
          </q-item-section>
          <q-item-section>
            <q-item-label>首页</q-item-label>
          </q-item-section>
        </q-item> -->
        <q-item v-for="(link, i) in links" :key="i" clickable :to="link.path">
          <q-item-section avatar>
            <q-icon :name="link.icon" />
          </q-item-section>
          <q-item-section>
            <q-item-label>{{ link.label }}</q-item-label>
          </q-item-section>
        </q-item>
        <!-- <q-item clickable tag="a" target="_blank" href="https://github.com/quasarframework/">
          <q-item-section avatar>
            <q-icon name="code" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Github</q-item-label>
            <q-item-label caption>github.com/quasarframework</q-item-label>
          </q-item-section>
        </q-item> -->
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'MainLayout',
  data() {
    return {
      leftDrawerOpen: this.$q.platform.is.desktop,
      links: [
        { path: '/player', icon: 'person', label: '玩家' },
        { path: '/planets', icon: 'public', label: '星球' },
        { path: '/fleets', icon: 'navigation', label: '舰队' },
        { path: '/wiki', icon: 'book', label: '资料' },
      ],
    };
  },
  computed: {
    ...mapState({
      player: state => state.global.player,
    }),
  },
};
</script>

<style>
</style>
